<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <form action="/add" method="post">
      <div>
        <label for="title">Todo</label>
        <input type="text" name="title" placeholder="Enter Todo..." />
        <br />
        <button type="submit">Add Task</button>
      </div>
    </form>
    <table>
      <tbody>
        {%for todo in todo_list%}
        <tr>
          <td>{{todo.id}}</td>
          <td>{{todo.name}}</td>
          {%if todo.complete=False%}
          <td>Not Completed</td>
          {%else}
          <td>Completed</td>
          {%endif%}
          <td><a href="/update/{{todo.id}}">Update</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
